# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
.next/cache/
# Build directories
dist/
build/

.next/
# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# IDE files
.vscode/
.idea/

# Environment variables
.env

# Miscellaneous
.DS_Store
Thumbs.db